/* category.html start */
#app{
    overflow-y: scroll;
}
.category-list{
    width: 100%;
}
.category{
    padding-top: 10px;
    float: left;
    width: 50%;
    height: 130px;
    padding-left: 10px;
    padding-right: 10px;

}
.category img{
    width: 100%;
    border-radius: 10px;
}
.category-title{
    background: #000000;
    opacity: 0.6;
    text-align: center;
    margin-top: -30px;
    border-radius: 10px;
    z-index: 1000;
}
.category-title h4{
    color: #FFFFFF;
}
/* category.html end */
